body {
    font-family: Arial;
    background: linear-gradient(135deg,  #555d7d, #7b42b5);
    margin: 0;
}

/*  login CARD */
.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.auth-bg {
    background: linear-gradient(135deg, #eef2ff, #e0e7ff);
}

.dashboard-bg {
    background: #b9c5de;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}

.link {
    text-align: center;
    color: blue;
    cursor: pointer;
}

/* DASHBOARD */
#dashboard {
    display: none;
    max-width: 900px;
    margin: 40px auto;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav button {
    width: auto;
    padding: 8px 15px;
}

/* validation error */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 14px;
}

